<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zhang</title>
</head>
<body>
<div id="app">
    <input type="checkbox"v-model="checkAll">qq
    <input type="checkbox"v-for="p in products" v-model="p.isSelected">

</div>
</body>
</html>
<script src="vue.js"></script>
<script>
        let vm=new Vue({
                el:'#app',
                data:{
                   products:[{isSelected:false},{isSelected:true},{isSelected:false}]
                },
            computed:{
                    checkAll:{
                        get(){

                            return this.products.every(item=>item.isSelected)

                        },
                        set(val){
                            this.products.forEach(item=>item.isSelected=val);
                        }
                    }
            }
            });
</script>